main{
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
}
a{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
}
.grid_1-1-1{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 0;
}
.grid_1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid_p_1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid_web_1-1{
    display:flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
@media (max-width: 768px){

.grid_1-1-1{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 0;
}
.grid_1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid_p_1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
}
@media (min-width: 1000px){
.grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-left: 7%;
    gap: 10em;
}
}
